<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Entidades</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/new') %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Resultado de la busqueda</h3>
                </div>
                <div class="card-body">
                  <table class="table table-vcenter table-striped sortable" id="tblEntidades">
                    <thead>
                      <tr class="header">
                        <th class="w-8">CIF</th>
                        <th>Entidad</th>
                        <th class="w-5">Admim</th>
                        <th class="w-15">Tipo incentivo</th>
                      </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                  <div id="pagination-wrapper" class="py-1"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </div>

  <script>
    const hasNextEntidades = <%- datos.hasNextEntidades %>
  </script>
  <script>
    const hasPrevEntidades = <%- datos.hasPrevEntidades %>
  </script>
  <script src="/js/main/buscar.js"></script>
  <script>
    buildTable(<%- JSON.stringify(datos.entidades) %>, <%- JSON.stringify(datos.cursor) %>, <%- JSON.stringify(datos.part) %>, <%- JSON.stringify(datos.arrTiposIncentivo) %>)
  </script>
</body>

</html>